body{
    margin: 0px;
}

.grids {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 equal columns */
    gap: 0; /* No space between items */
    height: 100vh; /* Take full viewport height */
    width: 100%;
}
button{
    background-color: #090e25;
}

input{
    border-radius: 0%;
}
.grids > * {
    border: 2px solid #313a5c;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; /* Center text in the grid item */
    text-decoration: none; /* Remove underline */
    font-size: 200%;
}
.grids > *:hover{
    background-color: #131b3f;
}